<div class="page-container">
  <div class="page-settore" fxLayout="column">
    <div class="header-settore" fxFlex="25" fxLayout="row">
      <div class="titolo-settore">
        <h3>{{this.settore}}</h3>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Cerca:</mat-label>
          <input matInput type="text" (keypress)="keypress($event)"
            (keyup.enter)="onSearchSubmit()" [(ngModel)]="search_term">
        </mat-form-field>
      </div>
    </div>

  </div>


</div>
