#close-icon{
    transform: rotate(45deg);
}
.body-settore{
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
}

.card-incontro{
    margin-bottom: 2%;
}

.titolo-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: sans-serif !important;
        font-weight: 600;
        font-size: xx-large;
        color: #3f51b5;
    }
}

.search-settore{
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-spinner{
        margin-left: 2%;
    }
}

.titolo-settore{
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .sigla-settore{
        max-width: 150px;
    }
}

@media(max-width: 768px){
    .sigla-settore{
        flex:0 0 100%;
        order:2;
        max-width: 70%;
        margin-top:10%;
    }
}

.crea-button{
    flex: 0 0 100%;
    order: 1;
    max-width: fit-content;
}

.waiting {
     cursor: wait !important;
}