.locandina-evento{
    min-height: 200px;
    display: flex;
    img{
        margin:auto
    }
}

#evento-recapiti{
    min-width: max-content;
    margin-left: 5%;
}

.evento-body{
    margin-top: 1%;
    font-size: large;
    .evento-data-ora{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        #evento-data{
            display: flex;
        }

        #evento-ora-durata{
            display: flex;
            align-items: center;
        }

        #ora-icon{
            margin-left: 5%;
            margin-bottom: 2%;
        }

        p{
            min-width: fit-content;
            margin:auto;
        }
    }
    
    .evento-descrizione{
        margin-top: 2%;
    }
}

.frecce{
    position: relative;
    display: flex;
    float: inline-end;
    align-items: center;
}

#arrow-left{
    font-size: 35px;
    cursor: pointer;
    margin-bottom: 10%;
    margin-right: 5%;
}

#arrow-right{
    font-size: 35px;
    cursor: pointer;
    margin-bottom: 10%;
    margin-left: 5%;
}