<div class="info-evento" fxLayout="column">
    <div class="frecce">
        <mat-icon id="arrow-left" *ngIf="isBeforeFirst()" (click)="goLeft()">keyboard_arrow_left</mat-icon> 
        <mat-label *ngIf="isBeforeFirst()">Precedente</mat-label>
        <mat-label *ngIf="isAfterFirst()">Successivo</mat-label>
        <mat-icon id="arrow-right" *ngIf="isAfterFirst()" (click)="goRight()">keyboard_arrow_right</mat-icon>
    </div>
    <div class="locandina-evento">
        <img [src]="getLocandina()" alt="Locandina evento">
    </div>
    <div class="dati-evento" *ngIf="evento!=undefined">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{evento.titolo}}
                </mat-card-title>
                <mat-card-subtitle class="evento-subtitle">
                    <div class="evento-settore">
                     Settore {{getSettore(evento.settore)}}
                    </div>
                    Recapiti:
                    <div *ngFor="let recapito of evento.recapiti" id="evento-recapiti">
                       - {{recapito}}
                    </div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="evento-body" fxLayout="column">
                    <div class="evento-data-ora" fxLayout="row">
                        <div id="evento-data">
                            <mat-icon id="ora-icon">calendar_today</mat-icon>
                            <p>Il {{formatData(evento.dataEvento)}}</p> 
                        </div>
                        <div id="evento-ora-durata" id="ora">
                            <mat-icon id="ora-icon">access_time</mat-icon>
                            <p>Alle {{evento.ora}}</p> 
                        </div>
                        <div id="evento-ora-durata" id="durata">
                           <p> Durata: {{evento.durata}} ore</p> 
                        </div>
                    </div>
                    <div class="evento-descrizione">
                        {{evento.descrizione}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>