.insert-credentials-dialog{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.username, .password{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: end;
    
}