<div class="page-with-sidebar">
    <div class="page-crea-settore">
        <div class="crea-incontro" fxLayout="column" fxLayoutAlign="space-around start">
            <h2>Crea il nuovo incontro</h2>
            <!-- titolo -->
            <div class="titolo-incontro" fxLayout="row">
                <div style="min-width: fit-content; margin-right: 7%;">
                    <h3>Titolo *</h3>
                </div>
                <div>
                    <mat-form-field appearance="fill" >
                        <mat-label>Titolo *</mat-label>
                        <input matInput type="text" placeholder="titolo" [(ngModel)]="incontro.titolo">
                    </mat-form-field>
                </div>
                <div *ngIf="errore('titolo')" style="min-width: fit-content ;margin-left: 7%; color:red;">
                    Il titolo deve avere almeno 3 caratteri
                </div>
            </div>
            <!-- descrizione gruppo -->
            <div class="incontro gruppo-incontro" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="min-width: 5%;">
                    <h3>Gruppo</h3>
                </div>
                <div fxLayout="row">
                    <div class="gruppo-incontro-param" >
                        <mat-form-field appearance="fill" >
                            <mat-label>N° partecipanti</mat-label>
                            <input matInput type="number" placeholder="n° partecipanti" [(ngModel)]="incontro.partecipanti">
                        </mat-form-field>
                    </div>
                    <div class="gruppo-incontro-param">
                        <mat-form-field appearance="fill" >
                            <mat-label>Età</mat-label>
                            <input matInput type="text" placeholder="età" [(ngModel)]="incontro.eta">
                        </mat-form-field>
                    </div>
                    <div class="gruppo-incontro-param">
                        <mat-form-field appearance="fill" >
                            <mat-label>Parrocchia *</mat-label>
                            <input matInput type="text" placeholder="parrocchia" [(ngModel)]="incontro.parrocchia">
                        </mat-form-field>
                        <div *ngIf="errore('parrocchia')" style="position: absolute; color:red">
                            Devi inserire la parrocchia: città, nome parrocchia
                        </div>
                    </div>
                </div>
            </div>
            <!-- tag-parole chiave -->
            <div class="incontro tag-incontro" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="tag-title" fxFlex="45">
                    <h3>Parole chiave</h3>
                </div>
                <div class="tag">
                    <mat-form-field appearance="fill" >
                        <mat-label>Parole chiave</mat-label>
                        <input matInput type="text" placeholder="tag" (keyup.enter)="onTagSubmit()" [(ngModel)]="tag">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly start">
                <div class="tag" *ngFor="let tag of incontro.tags; index as i">
                    <button mat-raised-button color="primary" (click)="rimuoviTag(i)">
                        {{tag}}
                        <mat-icon>close icon</mat-icon>
                    </button>
                </div>
            </div>

             <!-- obiettivo -->
            <div class="incontro obiettivo-incontro">
                <div >
                    <h3>Obiettivo *</h3>
                </div>
                <div *ngIf="errore('obiettivo')" style="margin-bottom:2%; color:red">
                    Inserisci un obiettivo (minimo 20 caratteri)
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 400px">
                        <mat-label>Obiettivo</mat-label>
                        <textarea matInput rows="3" cols="40" placeholder="text" [(ngModel)]="incontro.obiettivo"></textarea>
                        <mat-error *ngIf="errore('obiettivo')">L'obiettivo deve essere di almeno 20 caratteri</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- descrizione -->
            <div class="incontro descrizione-incontro">
                <div>
                    <h3>Descrizione *</h3>
                </div>
                <div *ngIf="errore('descrizione')"  style="margin-bottom:2%; color:red">
                    Inserisci una descrizione (almeno 100 caratteri)
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 600px">
                        <mat-label>Descrizione  </mat-label>
                        <textarea matInput rows="4" cols="40" placeholder="text" [(ngModel)]="incontro.descrizione"></textarea>
                        <mat-error *ngIf="errore('descrizione')">Inserisci una descrizione di almeno 100 caratteri</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- file upload -->
            <div class="incontro file-incontro">
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    <p id="upload-text">Clicca per allegare dei file</p>
                     <button mat-mini-fab color="primary" class="upload-btn"
                       (click)="fileUpload.click()" style="margin-left: 2%;">
                         <mat-icon>attach_file</mat-icon>
                     </button>
                 </div>
                 <div *ngFor="let files of uploadFiles; index as i" class="file-upload">
                    {{files.filename}}
                    <mat-icon (click)="rimuoviFile(i)">close icon</mat-icon>
                 </div>
            </div>

            <button mat-raised-button color="primary" class="salva-incontro"  (click)="creaIncontro()" [disabled]="validateForm()">
                Salva incontro
                <mat-icon id="send-icon">send</mat-icon>    
            </button>
        </div>
    </div>
</div>