.class-incontro{
    width: fit-content;
}

.incontro{
    margin-top:2%
}

.titolo-incontro, .salva-incontro{
    margin-top: 2%;
}

.tag-title{
    min-width: fit-content;
}

.tag{
    margin-left: 5%
}

.gruppo-incontro-param{
    margin-left: 5%;
}

#send-icon{
    margin-left:2%
}

.descrizione-incontro{
    white-space: pre-line;
}