.class-incontro{
    width: fit-content;
}

.incontro{
    margin-top:1%
}

.titolo-incontro{
    align-items: center;
    width: 400px;
}

.titolo-incontro, .salva-incontro{
    margin-top: 2%;
   
}

.tag-title{
    min-width: fit-content;
}

.tag{
    margin-left: 5%
}

.gruppo-incontro-param{
    margin-left: 5%;
}

#send-icon{
    margin-left:2%
}

.descrizione-incontro{
    white-space: pre-line;
}

.salva-incontro{
    font-size: large;
}

.file-input{
    display: none;
}

.file-upload{
    display: flex;
    align-items: center;
    #upload-text{
        min-width: fit-content;
        margin: 0px 2% 0px 0px;
    }
}