#close-icon{
    transform: rotate(45deg);
}

.header-calendario{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-button{
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: end;
}

@media(max-width: 1200px) {
    .header-calendario{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .titolo-calendario{
        flex: 0 0 100%;
        align-items: center;
        max-width: 50%;
    }
    .search-button{
        width: fit-content;
        flex: 0 0 50%;
        float: right;
        display: flex;
        justify-content: end;
    }
    .body-calendario{
        flex: 0 0 100%;
        min-width: 40% !important;
        max-width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        order: 1;
    }
    .lista-eventi{
        justify-content: center;
    }
    .eventi{
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 768px) {
    .header-calendario{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titolo-calendario{
        align-items: center;
    }
    .search-button{
        flex: 0 0 100%;
        margin-top: 5%;
        order:1;
    }
    .body-calendario{
        flex: 0 0 100%;
        margin-top: 5%;
        order:2;
        min-width: 60% !important;
        max-width: 70% !important;
    }
    .titolo-pagina{
        text-align: center;
    }
    
}

.body-calendario{
    min-width: 40%;
    max-width: 50%;
}

::ng-deep.data-occupata{
  
    border-radius: 100%;
    .mat-calendar-body-cell-content{
        background-color: #3727e4;
        color: rgb(255, 255, 255);
    }
}

::ng-deep.mat-calendar-body-selected{
    background-color: aquamarine;
    font-size: large;
    color: #3727e4;
}

.calendario-legenda{
    display: flex;
    align-items: center;
    #calendario-legenda-text{
        margin-left: 2%;
    }
}

.eventi-list{
    display: flex;
    margin-top: 5%;
}

.titolo-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: sans-serif !important;
    font-weight: 600;
    font-size: xx-large;
    color: #3f51b5;
}

.lista-eventi{
    display: flex;
    margin-top: 5%;
}