#close-icon{
    transform: rotate(45deg);
}

.header-calendario{
    display: flex;
    justify-content: space-between;
}

.body-calendario{
    margin: 5% auto;
}

::ng-deep.data-occupata{
    background-color: #3727e4;
    border-radius: 100%;
}