#close-icon{
    transform: rotate(45deg);
}

.header-calendario{
    display: flex;
    justify-content: space-between;
}

.body-calendario{
    margin: 2% auto;
}

::ng-deep.data-occupata{
    background-color: #3727e4;
    border-radius: 100%;
    .mat-calendar-body-cell-content{
        color: white;
    }
}

::ng-deep.mat-calendar-body-selected{
    background-color: aquamarine;
}

.calendario-legenda{
    display: flex;
    align-items: center;
    #calendario-legenda-text{
        margin-left: 2%;
    }
}