<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{incontro.titolo}}
            <a (click)="apriIncontro()">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </mat-card-title>
        <mat-card-subtitle class="incontro-subtitle">
            <div class="incontro-tags">
                <span *ngFor="let tag of incontro.tags" class="incontro-tag">
                    #{{tag}}
                </span>
            </div>
            <div class="incontro-gruppo-param">
                <div class="incontro-parrocchia">
                    Parrocchia: {{incontro.parrocchia}}
                </div>
                <div class="incontro-partecipanti">
                    Partecipanti: {{incontro.partecipanti}}
                </div>
                <div class="incontro-eta">
                    Età: {{incontro.eta}}
                </div>
            </div>   
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="incontro-testo">
        <p>Obiettivo: <b>{{incontro.obiettivo}}</b></p>
        <p>{{incontro.descrizione}}{{incontro.descrizione}}</p>
    </mat-card-content>
</mat-card>