.incontro-subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-incontro{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .incontro-tags{
        display: flex;
        justify-content: flex-end;
        min-width: 50%;
    }
    .incontro-tag{
        margin-left: 5%;
        color: #3f51b5;
    }

    @media(max-width: 768px) {
        .incontro-tags{
            flex: 0 0 100%;
            order: 2;
            margin-top:2%;
            justify-content: flex-start;
        }
    }
}

.incontro-titolo{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    .apri-incontro{
        cursor: pointer;
    }

    @media(max-width: 768px) {
        .apri-incontro-hint{
            flex: 0 0 100%;
            order:2;
            margin-top: 2%;
        }
    }
}


.incontro-testo{
    white-space: pre-line;
    font-size: 15px;
    height: 100px;
    overflow: hidden;
    margin: 0 16px;

    p{
        margin:5px 0;
    }
}

.incontro-gruppo-param{
    margin-right: 5%;
}

::ng-deep .mat-card-header-text{
    width: 100%;
}

::ng-deep .mat-card-title{
    font-size: 25px !important;
    color: #3f51b5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    display: flex !important;
    align-items: center;
}


.apri-incontro-hint{
    font-size: 15px;
    background-color: #09d6fa;
    border-radius: 5%;
    color: white;
    font-style: normal;
    margin-left: 5px;
    padding: 2px;
}
