<mat-card>
    <mat-card-header>
        <mat-card-title class="incontro-titolo">
            {{incontro.titolo}}
            <a (click)="apriIncontro()" (mouseover)="showHint()" (mouseout)="hideHint()" style="margin-left: 5px;">
                <mat-icon  class="apri-incontro" >open_in_new</mat-icon>
            </a>
            <span *ngIf="hoverTitle" class="apri-incontro-hint">
                Clicca per aprire il dettaglio
            </span>
        </mat-card-title>
        <mat-card-subtitle class="incontro-subtitle">
            <div class="incontro-gruppo-param">
                <div class="incontro-parrocchia">
                    Parrocchia: <b>{{incontro.parrocchia}}</b>
                </div>
                <div class="incontro-partecipanti">
                    Partecipanti: <b> {{incontro.partecipanti}}</b>
                </div>
                <div class="incontro-eta">
                    Età: <b>{{incontro.eta}}</b>
                </div>
            </div>   
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="incontro-testo">
        <div class="info-incontro">
            <p>Obiettivo: <b>{{incontro.obiettivo}}</b></p>
            <div class="incontro-tags">
                <span *ngFor="let tag of incontro.tags" class="incontro-tag">
                    #{{tag}}
                </span>
            </div>
        </div>
        <p>{{incontro.descrizione}}{{incontro.descrizione}}</p>
    </mat-card-content>
</mat-card>