:host {
  background: #3727e4;
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  margin-top: 65px;
  width: 100%;
  flex-direction: column;
  z-index: 10;
}

.sidebar {
  overflow-y: auto;
}

.top-menu {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 70px;
  line-height: 65px;
  z-index: 3;
}

.content-menu {
  margin-top: 25%;
  padding: 24px 18px 24px 18px;
}

.side-btn {
  cursor: pointer;
  font-size: large;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}