<div class="crea-evento">
    <!-- file upload -->
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Crea evento {{evento.settore}}</h2>
        <button mat-button id="close-dialog" (click)="close()">
            <mat-icon>close icon</mat-icon>
        </button>
    </div>
    <div class="evento file-evento">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
            <p id="upload-text">Clicca per allegare una locandina</p>
             <button mat-mini-fab color="primary" class="upload-btn"
               (click)="fileUpload.click()" style="margin-left: 2%;">
                 <mat-icon>attach_file</mat-icon>
             </button>
        </div>
        <div *ngIf="file!=undefined" class="file-upload">
            {{file.filename}}
            <mat-icon (click)="rimuoviFile()">close icon</mat-icon>
        </div>
    </div>
    <div class="data-evento" fxLayout="row">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Scegli una data</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="dataEvento" (dateChange)="aggiornaData()">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="evento-ora" fxFlex="row">
            <mat-form-field appearance="fill">
                <mat-label>Orario *</mat-label>
                <input matInput class="input-ora" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" [(ngModel)]="evento.ora" readonly>
                <mat-icon id="ora-icon">access_time</mat-icon>
                <ngx-material-timepicker #fullTime [timepickerClass]="'orologio-class'"></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div class="evento-durata">
            <mat-form-field appearance="fill" >
                <mat-label>Durata (ore)</mat-label>
                <input matInput type="number" placeholder="durata" [(ngModel)]="evento.durata">
            </mat-form-field>
        </div>
    </div>
    <!-- titolo evento  -->
    <div class="titolo-evento" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h4>Titolo *</h4>
        </div>
        <div id="titolo">
            <mat-form-field appearance="fill" >
                <mat-label>Titolo *</mat-label>
                <input matInput #titolo type="text" placeholder="titolo" [(ngModel)]="evento.titolo">
            </mat-form-field>
        </div>
        <div *ngIf="errore('titolo')" style="min-width: fit-content ;margin-left: 7%; color:red;">
            Il titolo deve avere almeno 3 caratteri
        </div>
    </div>

    <!-- luogo-evento -->
    <div class="luogo-evento" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h4>Luogo *</h4>
        </div>
        <div id="luogo">
            <mat-form-field appearance="fill" >
                <mat-label>Luogo *</mat-label>
                <input matInput type="text" placeholder="luogo" [(ngModel)]="evento.luogo">
            </mat-form-field>
        </div>
        <div *ngIf="errore('luogo')" style="min-width: fit-content ;margin-left: 7%; color:red;">
            Inserisci il luogo dell'evento!
        </div>
    </div>

    <!-- descrizione -->
    <div class="descrizione-evento" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="35">
            <h4>Descrizione</h4>
        </div>
        <div fxFlex="65">
            <mat-form-field appearance="fill"  style="width: 400px; white-space: pre-line;" id="descrizione">
                <mat-label>Descrizione</mat-label>
                <textarea matInput rows="5" cols="40" placeholder="text" [(ngModel)]="evento.descrizione"></textarea>
            </mat-form-field>
        </div>
    </div>

    <!-- recapiti telefonici -->
    <div class="recapiti-evento" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h4>Recapiti</h4>
        </div>
        <div style="margin-left: 2%">
            <mat-form-field appearance="fill">
                <mat-label>Recapiti telefonici</mat-label>
                <input matInput placeholder="Nome: Telefono INVIO" (keyup.enter)="onRecapitoSubmit()" [(ngModel)]="recapito">
            </mat-form-field>
        </div>
    </div>
    <div class="recapiti-list" fxLayout="row" fxLayoutAlign="space-evenly start">
        <div *ngFor="let rec of recapiti; index as i" id="recapito">
            <button mat-raised-button color="primary" (click)="rimuoviRecapito(i)">
                {{rec}}
                <mat-icon>close icon</mat-icon>
            </button>
        </div>
    </div>

    <!-- salva evento -->
    <div class="invia-evento">
        <button mat-button color="warn" (click)="close()">
            Annulla
            <mat-icon>close icon</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="salva-evento"  (click)="creaEvento()" [disabled]="validateForm()">
            Salva evento
            <mat-icon id="send-icon">send</mat-icon>    
        </button>
    </div>
</div>