.crea-evento{
    display: flex;
    flex-direction: column;
}

.data-evento{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;

    @media(max-width:768px) {
        .evento-ora{
            flex: 0 0 100%;
            order: 2;
            margin-top: 2%;
        }
        .evento-durata{
            flex: 0 0 100%;
            order: 3;
            margin-top: 2%;
        }
    }
}

::ng-deep.mat-form-field-infix{
    display: flex;
}

.titolo-evento{
    margin-top:3%;
    display: flex;
    align-items: center;
    width: 100%;
    #titolo{
        width: 50%;
        margin-left: 2%;
        ::ng-deep.mat-form-field{
            width: 100%;
        }
    }   
}
.luogo-evento{
    margin-top:3%;
    display: flex;
    align-items: center;
    width: 100%;
    #luogo{
        width: 50%;
        margin-left: 2%;
        ::ng-deep.mat-form-field{
            width: 100%;
        }
    }
}

.recapiti-evento{
    display: flex;
    align-items: center;
}

.recapiti-list{
    display: flex;
    margin-left: 5%;
    font-size: x-small;
    #recapito{
        margin-left:2%;
    }
}

::ng-deep ngx-material-timepicker-container{
    --dial-background-color: #3727e4 !important;
    --dial-editable-active-color: #3727e4 !important;
    --clock-hand-color: #3727e4 !important;
    --button-color: #3727e4 !important;
}

.salva-evento{
    float: right;
    font-size: large;

    #send-icon{
        margin-left: 5%;
    }
}

.file-input{
    display: none;
}

.file-upload{
    display: flex;
    align-items: center;
    #upload-text{
        min-width: fit-content;
        margin: 0px 2% 0px 0px;
    }
}

@media(max-width:768px) {
    #descrizione{
        width: 25em !important;
    }
    textarea{
        width:25em;
    }
}