.data-evento{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

// .evento-ora{
//     display: flex;
//     align-items: center;
// }

#ora-icon{
    position: relative;
    left: 90%;
}