.page-container {
  background-color: white;
}

#settori {
  margin-top: 5%;
  display: flex;
}

#ACR,
#GVS,
#GVN,
#ADULTI {
  min-height: 200px !important;
  cursor: pointer;
  background-size: auto 100%;
}

#ACR{
  background-image: url("/assets/images/acr.jpg");
  background-color: lightblue;
}

#GVS{
  background-image: url("/assets/images/gvs.jpg");
  background-color: lightgreen;
}

#GVN{
  background-image: url("/assets/images/gvn.jpg");
  background-color: lightblue;
}

#ADULTI{
  background-image: url("/assets/images/adulti.jpg");
  background-color: darkkhaki;
}