.page-container {
  background-color: white;
}

#settori {
  margin-top: 5%;
}

#ACR,
#GVS,
#GVN,
#ADULTI {
  height: 100% !important;
  cursor: pointer;
}

#GVN,
#ADULTI {
  margin-top: 10% !important;
}
