#settori {
  margin-top: 5%;
  display: flex;
}

#ACR,
#GVS,
#GVN,
#ADULTI {
  min-height: 200px !important;
  cursor: pointer;
  background-size: auto 100%;
  font-size: 30px;
  font-weight: bold;
}

#ACR{
 // background-image: url("/assets/images/acr.jpg");
  background-color: lightblue;
  color: white;
}

#GVS{
  //background-image: url("/assets/images/gvs.jpg");
  background-color: lightgreen;
  color: chocolate
}

#GVN{
  //background-image: url("/assets/images/gvn.jpg");
  background-color: rgb(250, 240, 95);
  color: blue;
}

#ADULTI{
 // background-image: url("/assets/images/adulti.jpg");
  background-color: rgb(248, 165, 227);
  color: rgb(188, 242, 255);
}