.evento-card{
    width: 350px;
}

.apri-evento-hint{
    font-size: small;
    background-color: aquamarine;
    color:white;
    display: flex;
    float: right;
    max-width: fit-content;
}

#card{
    height: 120px !important
}