<div class="evento-card">
    <mat-card id="card">
        <mat-card-header>
            <mat-card-title class="evento-titolo" style="color: #3f51b5; margin-top:2%">
                <span>{{evento.titolo}}</span>
                <mat-icon  class="apri-evento" (click)="apriEvento()" (mouseover)="showHint()"
                    (mouseout)="hideHint()">open_in_new</mat-icon>
                <span *ngIf="hoverTitle" class="apri-evento-hint">
                    Clicca per aprire il dettaglio
                </span>
            </mat-card-title>
            <mat-card-subtitle class="evento-subtitle" >
                <div class="evento-gruppo-param">
                    <div class="evento-luogo">
                        Luogo: <b style="color: #3f51b5;">{{evento.luogo}}</b>
                    </div>
                    <div class="evento-data">
                        Data: <b style="color: #3f51b5;">{{formatData(evento.dataEvento)}}</b>
                    </div>
                    <div>
                        Settore: <b style="color: #3f51b5;">{{evento.settore}}</b>
                    </div>
                </div>   
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="evento-testo">
            <p>{{evento.descrizione}}</p>
        </mat-card-content>
    </mat-card>
</div>